:root {
  --theme-color: #2196f3;
  --title-color: #212121;
  --bgcolor-accent: #2f303a;
  --white-color: #ffffff;
  --text-color: #757575;
  --bgcolor2: #f5f4fa;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
/* LOGO  */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: black;
  letter-spacing: 0.03em;
}

.logo .web {
  color: var(--theme-color);
}
.logo .footer {
  color: var(--white-color);
}

/* Navigation  */
.nav-top .link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-top .link:hover,
.nav-top .link:focus {
  color: var(--theme-color);
}
.nav-top .link.current {
  color: var(--theme-color);
}

.contacts-top .link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-top .link:hover,
.contacts-top .link:focus {
  color: var(--theme-color);
}

/* Hero  */

.hero {
  background-color: var(--bgcolor-accent);
}
.hero-title {
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* Button  */
.button {
  background-color: var(--bgcolor2);
  color: var(--title-color);
  border-color: var(--bgcolor2);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-radius: 4px;
}

.button.active:hover,
.button.active:focus {
  color: var(--white-color);
  background-color: var(--theme-color);
  border-color: var(--theme-color);
}

.button-hero {
  color: var(--white-color);
  background-color: var(--theme-color);
  border-color: var(--theme-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
}
/* .button-hero:focus, .button-hero:hover{
  background-color: var(--bgcolor2);
  color: var(--title-color);
  border-color: var(--bgcolor2);

} */

/* Features  */

.features-list .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.features-list .title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Comanda  */
.comanda {
  background-color: var(--bgcolor2);
}
.comanda .title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.comanda .text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
/* Gallery */

.gallery {
}
.gallery-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--bgcolor-accent);
}
.address {
  color: var(--white-color);
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer .contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
}
